@page "/page13"
<PageTitle>Spelling Bee 2022 - Page 13</PageTitle>
<h2 class="pb-2 border-bottom">Spelling Bee 2022 - Page 13</h2>


@if (Words == null)
{
    <p>Loading...</p>
}
else
{
    foreach (var word in Words)
    {
        if (word.DictionaryEntry == null) continue;
        <div class="row g-5 py-1">
            <div class="col-md-6">
                @word.PositionInCollection. 
                @{
                    foreach (var phonetic in word.DictionaryEntry.Phonetics)
                    {
                        @phonetic.Text

                        @if (!string.IsNullOrEmpty(phonetic.Audio))
                        {
                            <a class="btn btn-sm audioLink" href="#" data-src="@phonetic.Audio">
                                <i class='bi-caret-right'></i>
                            </a>
                        }
                    }
                }
            </div>
            <div class="col-md-6 text-end">
                <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" 
                data-bs-target="@($"#word{word.PositionInCollection}Definition")" aria-expanded="false" 
                aria-controls="@($"#word{word.PositionInCollection}Definition")"
                @onclick="@(e => Collapse($"#word{word.PositionInCollection}Definition"))">
                    Definition
                </button>

                <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" 
                data-bs-target="@($"#word{word.PositionInCollection}Origin")" aria-expanded="false" 
                aria-controls="@($"#word{word.PositionInCollection}Origin")"
                @onclick="@(e => Collapse($"#word{word.PositionInCollection}Origin"))">
                    Origin
                </button>
                <button class="btn btn-success btn-sm" type="button" data-bs-toggle="collapse" 
                data-bs-target="@($"#word{word.PositionInCollection}Spelling")" aria-expanded="false" 
                aria-controls="@($"#word{word.PositionInCollection}Spelling")"
                @onclick="@(e => Collapse($"#word{word.PositionInCollection}Spelling"))">
                    Spelling
                </button>
            </div>
        </div>

        <div class="row g-5 py-1">
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="@($"word{word.PositionInCollection}Definition")">
                    <div class="card card-body shadow p-2 mb-1 bg-light rounded">
                        @{
                            foreach (var meaning in word.DictionaryEntry.Meanings)
                            {
                                <h2 class="card-title">@meaning.PartOfSpeech</h2>
                                <p class="card-text">
                                    <dl>
                                        @{
                                            foreach (var definition in meaning.Definitions)
                                            {
                                                <dt>@definition.Definition</dt>
                                                if (!string.IsNullOrEmpty(definition.Example))
                                                {
                                                    <dd>@definition.Example</dd>
                                                }
                                            }
                                        }
                                    </dl>
                                </p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5 py-1">
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="@($"word{word.PositionInCollection}Origin")">
                    <div class="card card-body shadow p-2 mb-1 bg-light rounded">
                        <h2 class="card-title">Origin</h2>
                        <p class="card-text">@word.DictionaryEntry.Origin</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5 py-1">
            <div class="col-md-12">
                <div class="collapse multi-collapse" id="@($"word{word.PositionInCollection}Spelling")">
                    <div class="card card-body shadow p-2 mb-1 bg-light rounded">
                        <h1 class="card-title text-center">@word.Text</h1>
                    </div>
                </div>
            </div>
        </div>
    }
}